@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap');

:root {
  --font: "Gaegu", monospace;
  --font-footer: 24px;
  --color-bg: #FFE9B3;
  --color-brown: #946241;
  --color-brown-light: #BE8E6E;
  --color-brown-dark: #6D4931; 
  --color-brown-black: #5c3e2b; 
  --color-white: #F7F7DD;
  --color-green: #DFFAA0;
  --color-green-dark: #A9C78B;
  --color-pink: #FFD2C6;
  --color-pink-dark: #FF9A99;
  --color-purple: #DDDAFF;
  --color-purple-dark: #AFA8FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-brown);
  font-family: var(--font);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(./assets/backgroundCats.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

.button-play {
  padding: 5px;
  width: 340px;
  height: 88px;
  border: 5px solid var(--color-white);
  border-radius: 32px;
  background-color: var(--color-brown);
  /* box-shadow: inset 5px 5px 10px 0px var(--color-brown-dark); */
}

.button-play:disabled {
  opacity: 0.75;
}

.button-play div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid var(--color-brown-light);
  border-right: 5px solid var(--color-brown-light);
  border-radius: 24px;
  color: var(--color-white);
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 3px 3px 6px var(--color-brown-black);
}

/* .button-play div img {
  height: 45%;
} */